@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap');

* {
    &, &::before, &::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        //font-family: 'Jost', sans-serif;
        font-family: 'Roboto Slab', serif;
    }
}

:root {
    //Background Colors, Text Colors
    --light-color: #f3f3fe;
    --dark-color: #363636;

    /*
        --dark-color use it as the default for background color
        --light-color use it as the default for color
    */

    //Back Drop Filter
    --light-glass: rgba(255, 255, 255, 0.2);
    --dark-glass: rgba(0, 0, 0, 0.2);

    //Primary Color
    --primary-color-blue: #2980B9;
    --primary-color-gold: #FBD784;

    //Fonts Size
    --xsmall-font: 1.2rem;
    --small-font: 2.4rem;
    --medium-font: 3.6rem;
    --large-font: 4.8rem;
    --xlarge-font: 5rem;

    //Screen Size
    --large-screen: 144rem;
    --medium-screen: 80rem;
    --small-screen: 40rem;
}

/* Screen Size */
$largeScreen: 144rem;
$mediumScreen: 80rem;
$smallScreen: 40rem;

body.light {
    --light-color: #363636;
    --dark-color: #f3f3fe;
    --light-glass: rgba(0, 0, 0, 0.1);
    --dark-glass: rgba(255, 255, 255, 0.1);
}

body.ar {
    * {
        direction: rtl;
    }

    html {
        direction: rtl;
    }
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    direction: ltr;

    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;

    overflow-x: hidden;
    background-color: var(--dark-color);
}

section {
    margin-bottom: 5rem;
}

button {
    border: none;
}

img {
    object-fit: contain;
}

.container {
    width: 90%;
    height: inherit;
    margin: 0 auto;
}

.f-center {
    justify-content: center;
    align-items: center;
}

.home-header-explore-btn {
    background-color:hsla(284,44%,67%,1);
    background-image:
    radial-gradient(at 80% 100%, hsla(214,100%,50%,1) 0px, transparent 50%),
    radial-gradient(at 63% 99%, hsla(214,75%,53%,1) 0px, transparent 50%),
    radial-gradient(at 66% 81%, hsla(157,100%,52%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(181,100%,50%,1) 0px, transparent 50%),
    radial-gradient(at 7% 53%, hsla(38,74%,78%,1) 0px, transparent 50%),
    radial-gradient(at 64% 7%, hsla(351,61%,50%,1) 0px, transparent 50%);
}

// Admin //
@import './admin/login';
@import './admin/historical/new';
@import 'admin/historical/index';

// Global //
@import './global/navbar';
@import './global/footer';
@import './global/loading';
@import './global/fetchingError';
@import './global/clientOrServerError';
@import './global/aboutUs';

// Home //
@import './home/header';
@import './home/description';
@import './home/features';
@import './home/discover';

// Explore //
@import './explore/historical/index';
@import './explore/historical/item';